/StringManipulation.class
/ReverseString.class
/StringBufferConcept.class
/DuplicateCharacter.class
/NoofWordsInString.class
/OccuranceWithoutLoop.class
/RemoveWhiteSpaces.class
/FirstNonRepeatCharacter.class
/containsOnlyDigits.class
/repeatedWord.class
